.service-detail {
  &__icon {
    width: 30px;
    height: 30px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 0 auto 12px;
    @include media-breakpoint-down(md) {
      margin-bottom: 8px;
      width: 26px;
      height: 26px;
    }
    img {
      width: 16px;
      height: 16px;
      object-fit: contain;
      @include media-breakpoint-down(md) {
        width: 13px;
        height: 13px;
      }
    }
  }
  &__testimonials {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.01) 100%
    );
    padding: 60px 0 112px;
    @include media-breakpoint-down(md) {
      padding: 40px 0 48px;
    }
  }
}
