<div class="service-detail">
  <div class="bg-white pt-mb-15 pt-12 pb-md-13 pb-10">
    <div class="container-md text-center">
      <div class="mb-mb-13 mb-10">
        <div class="service-detail__icon">
          <img src="images/ico/lock.svg" alt="icon" />
        </div>
        <h1 class="h1 text-primary mb-md-2 mb-3">Kybernetická bezpečnost</h1>
        <div class="text-lg text-primary-light">Detail služby, reference</div>
      </div>
      <p class="text-md text-primary mb-8">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor non nisl id
        posuere. Phasellus suscipit elementum neque, sed pulvinar magna pretium nec. Donec vitae
        nibh leo. Ut eget tellus massa. Integer commodo ex a lectus tempus placerat.
      </p>
      <p class="text-md text-primary">
        Mauris congue enim mi, vel suscipit mauris vestibulum eu. Aenean accumsan risus eget
        efficitur aliquam. Aenean vel commodo dolor, nec rhoncus ligula. Proin hendrerit interdum
        lacus, vel rutrum dui elementum auctor.
      </p>
    </div>
  </div>
  <div class="bg-primary py-8">
    <div class="container-md text-center">
      <div class="fz-26 fw-bold text-white mb-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit:
      </div>
      <ul class="text-md text-white opacity-80 disc-list">
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, ras sapien orci, commodo a varius
          eu, pretium non felis
        </li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, ras sapien orci, non felis</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elitnon felis</li>
      </ul>
    </div>
  </div>
  <div class="service-detail__testimonials">
    <div class="mb-md-11 mb-8 text-center">
      <h2 class="h2 mb-2 text-white">Jak se služba líbí ostatním</h2>
      <div class="text-md text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    </div>
    <ul class="testimonials__inner mb-md-20 mb-11">
      <li>
        <div class="testimonials__item">
          <div class="d-flex gap-4 align-items-center mb-5">
            <img
              class="object-fit-cover rounded-circle overflow-hidden"
              src="images/content/avatars/3.jpg"
              width="50"
              height="50"
              style="min-width: 50px"
              alt=""
            />
            <div class="d-grid gap-2">
              <div class="h5 text-primary">Veronika Jindřišková</div>
              <div class="text-xs">Nemocnice sv. Kříže Žižkov Nemocnice sv. Kříže Žižkov</div>
            </div>
          </div>
          <p class="text-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. volutpat facilisis justo sit
            amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. volutpat facilisis justo
            sit amet.
          </p>
        </div>
      </li>
      <li>
        <div class="testimonials__item">
          <div class="d-flex gap-4 align-items-center mb-5">
            <img
              class="object-fit-cover rounded-circle overflow-hidden"
              src="images/content/avatars/2.jpg"
              width="50"
              height="50"
              style="min-width: 50px"
              alt=""
            />
            <div class="d-grid gap-2">
              <div class="h5 text-primary">VáclavVáclav Svatošovský</div>
              <div class="text-xs">Fakultní nemocnice Ostrava</div>
            </div>
          </div>
          <p class="text-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. volutpat facilisis justo sit
            amet.
          </p>
        </div>
      </li>
      <li>
        <div class="testimonials__item">
          <div class="d-flex gap-4 align-items-center mb-5">
            <img
              class="object-fit-cover rounded-circle overflow-hidden"
              src="images/content/avatars/1.jpg"
              width="50"
              height="50"
              style="min-width: 50px"
              alt=""
            />
            <div class="d-grid gap-2">
              <div class="h5 text-primary">Alexandra Procházková</div>
              <div class="text-xs">Nemocnice Třebíč</div>
            </div>
          </div>
          <p class="text-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. volutpat facilisis justo sit
            amet.
          </p>
        </div>
      </li>
    </ul>
    <div class="text-center">
      <h3 class="h3 text-white mb-3">Přesvědčili jsme Vás?</h3>
      <a href="#" class="button-gradient">Napište nám</a>
    </div>
  </div>
</div>
