<section class="gradient-primary">
  <div class="container-lg">
    <div class="about-hero">
      <div class="about-hero__content">
        <div class="text-lg text-gray mb-1">CyberNexus</div>
        <h1 class="h1 mb-6 text-white">Historie společnosti</h1>
        <p class="mb-4 text-lg text-white">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et finibus justo. Duis non
          nunc justo. Integer in nunc neque. Aliquam erat volutpat. Orci varius natoque penatibus et
          magnis dis parturient montes,
        </p>
        <p class="text-lg text-white">
          Ut pharetra, nunc luctus fringilla fermentum, elit tortor tristique nunc, eu lobortis
          tortor ipsum vel leo. Nunc dapibus, neque quis posuere lacinia, magna tellus tincidunt
          nibh, vel ullamcorper enim nisl ac erat. Nulla consectetur.
        </p>
      </div>
      <div class="about-hero__img">
        <img
          loading="lazy"
          srcset="https://picsum.photos/600/400 672w, https://picsum.photos/300/200 336w"
          alt="about"
        />
      </div>
    </div>
  </div>

  <div class="about-values bg-white pt-md-19 pt-13">
    <div class="about-values__head mb-md-10 text-center mb-4 mx-auto px-7">
      <h2 class="h2 text-primary mb-md-3 mb-4">Hodnoty a mise</h2>
      <div class="text-md text-primary-light">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et finibus justo. Duis non nunc
        justo. Integer in nunc neque. Aliquam erat volutpat. Orci varius natoque penatibus et magnis
        dis parturient montes,
      </div>
    </div>
    <div class="container-lg">
      <ul class="about-values__inner pb-md-19 pb-16">
        <li class="about-values__col">
          <div class="about-values__item">
            <div class="about-values__item-icon">
              <img src="images/ico/check.svg" alt="icon" />
            </div>
            <h5 class="h5 text-white mb-md-4 mb-3">Mise první</h5>
            <p class="text-sm text-white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. volutpat facilisis justo sit
              amet.
            </p>
          </div>
        </li>
        <li class="about-values__col">
          <div class="about-values__item">
            <div class="about-values__item-icon">
              <img src="images/ico/check.svg" alt="icon" />
            </div>
            <h5 class="h5 text-white mb-md-4 mb-3">Mise druhá Mise druhá Mise druhá</h5>
            <p class="text-sm text-white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. volutpat facilisis justo sit
              amet.
            </p>
          </div>
        </li>
        <li class="about-values__col">
          <div class="about-values__item">
            <div class="about-values__item-icon">
              <img src="images/ico/check.svg" alt="icon" />
            </div>
            <h5 class="h5 text-white mb-md-4 mb-3">Mise třetí</h5>
            <p class="text-sm text-white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. volutpat facilisis justo sit
              amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. volutpat facilisis
              justo sit amet.
            </p>
          </div>
        </li>
        <li class="about-values__col">
          <div class="about-values__item">
            <div class="about-values__item-icon">
              <img src="images/ico/check.svg" alt="icon" />
            </div>
            <h5 class="h5 text-white mb-md-4 mb-3">Mise čtvrtá</h5>
            <p class="text-sm text-white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. volutpat facilisis justo sit
              amet.
            </p>
          </div>
        </li>
        <li class="about-values__col">
          <div class="about-values__item">
            <div class="about-values__item-icon">
              <img src="images/ico/check.svg" alt="icon" />
            </div>
            <h5 class="h5 text-white mb-md-4 mb-3">Mise první</h5>
            <p class="text-sm text-white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. volutpat facilisis justo sit
              amet.
            </p>
          </div>
        </li>
        <li class="about-values__col">
          <div class="about-values__item">
            <div class="about-values__item-icon">
              <img src="images/ico/check.svg" alt="icon" />
            </div>
            <h5 class="h5 text-white mb-md-4 mb-3">Mise druhá Mise druhá Mise druhá</h5>
            <p class="text-sm text-white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. volutpat facilisis justo sit
              amet.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="about-leadership bg-white pt-xl-17 pb-15">
    <div class="container-lg">
      <div class="mb-lg-13 mb-6">
        <h3 class="h2 text-primary">Klíčové osoby</h3>
        <div class="text-md text-primary-light">společnosti</div>
      </div>

      <div class="about-leadership__inner">
        <div class="about-leadership__item">
          <div class="about-leadership__content">
            <div class="about-leadership__img">
              <img src="images/content/leader-1.png" loading="lazy" alt="" />
            </div>
            <div class="text-center pb-md-5 pb-4">
              <h5 class="h4 text-white mb-2">Marek Svoboda</h5>
              <div class="text-gray">CEO, zakladatel</div>
            </div>
          </div>
          <div class="about-leadership__footer">
            “Lorem ipsum dolor sit amet, consectetur adipiscing elit.”
          </div>
        </div>
        <div class="about-leadership__item">
          <div class="about-leadership__content">
            <div class="about-leadership__img">
              <img src="images/content/leader-2.png" loading="lazy" alt="" />
            </div>
            <div class="text-center pb-md-5 pb-4">
              <h5 class="h4 text-white mb-2">Ondřej Dlouhonohý</h5>
              <div class="text-gray">Manažer</div>
            </div>
          </div>
          <div class="about-leadership__footer">
            “Lorem ipsum dolor sit amet, consectetur adipiscing elit. ed et finibus justo”
          </div>
        </div>
        <div class="about-leadership__item">
          <div class="about-leadership__content">
            <div class="about-leadership__img">
              <img src="images/content/leader-1.png" loading="lazy" alt="" />
            </div>
            <div class="text-center pb-md-5 pb-4">
              <h5 class="h4 text-white mb-2">Petr Novotný</h5>
              <div class="text-gray">Asistent manažera</div>
            </div>
          </div>
          <div class="about-leadership__footer">“Lorem ipsum dolor sit amet, consectetur.”</div>
        </div>
      </div>
    </div>
  </div>
</section>
