/*! purgecss start ignore */

[class^='container-'] {
  margin-left: auto;
  margin-right: auto;
  padding-left: 28px !important;
  padding-right: 28px !important;
}
.container-xxl {
  max-width: 111.2rem !important;
}
/*! purgecss end ignore */
