/*! purgecss start ignore */

[class^='container-'] {
  margin-left: auto;
  margin-right: auto;
  padding-left: 28px !important;
  padding-right: 28px !important;
  width: 100%;
}
.container-big {
  max-width: 106.67rem;
  padding: 0 24px !important;
}
.container-xxl {
  max-width: 111.2rem !important;
}
/*! purgecss end ignore */
