.h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: -0.06em;
  @include media-breakpoint-down(md) {
    font-size: 44px;
    line-height: 100%;
  }
}
.h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 100%;
  letter-spacing: -0.06em;
  @include media-breakpoint-down(md) {
    font-size: 34px;
    line-height: 42px;
  }
}
.h3 {
  font-weight: 700;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: -0.06em;
  @include media-breakpoint-down(md) {
    font-size: 30px;
    line-height: 100%;
  }
}
.h4 {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: -0.06em;
  @include media-breakpoint-down(md) {
    font-size: 24px;
    line-height: 100%;
  }
}
.h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.06em;
  @include media-breakpoint-down(md) {
    font-size: 16px;
    line-height: 100%;
  }
}
.text-xl {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.06em;
  @include media-breakpoint-down(md) {
    font-size: 18px;
    line-height: 23px;
  }
}
.text-lg {
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -0.06em;
  @include media-breakpoint-down(md) {
    font-size: 17px;
    line-height: 100%;
  }
}
.text-md {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.06em;
  font-weight: 400;
  @include media-breakpoint-down(md) {
    font-size: 17px;
    line-height: 25px;
  }
}
.text-sm {
  font-weight: 400;
  font-size: 18px;
  line-height: 115%;
  letter-spacing: -0.02em;
}
.text-xs {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.02em;
}
//// text
.fz-28 {
  font-size: 1.75rem;
  line-height: 2rem;
  letter-spacing: -0.06em;
}
.fz-26 {
  font-size: 26px;
  line-height: 29px;
  letter-spacing: -0.06em;
  @include media-breakpoint-down(md) {
    font-size: 24px;
    line-height: 115%;
  }
}
.fz-22 {
  font-size: 22px;
  line-height: 25px;
  letter-spacing: -0.06em;
}
