blockquote {
  position: relative;
  padding: 0 -8px;
  @include media-breakpoint-down(md) {
    text-align: center;
  }
  &::before,
  &::after {
    content: '';
    position: relative;
    background-repeat: no-repeat;
    background-size: 36px 24px;
    padding-bottom: 24px;
    padding-right: 36px;
    @include media-breakpoint-down(md) {
      background-size: 28px 20px;
      padding-bottom: 20px;
      padding-right: 28px;
    }
  }
  &::before {
    top: -13px;
    background-image: url('../images/content/blockquote-before.png');
    margin-right: 8px;
    @include media-breakpoint-down(md) {
      top: -8px;
    }
  }
  &::after {
    background-image: url('../images/content/blockquote-after.png');
    margin-left: 8px;
    bottom: -0px;
  }
}
