.contacts-section {
  &__top {
    display: flex;
    width: 100%;
    background-color: var(--color-light);
    padding: 100px 100px 65px 100px;
    margin-bottom: 68px;
  }
  &__bottom {
    padding: 60px 32px 72px 32px;
    background: linear-gradient(180deg, #042520 0%, rgba(4, 37, 32, 0.6) 100%);
  }
}

.contacts-label {
  border-bottom: 1px solid rgba(#000000, 0.35);
  display: block;

  input {
    padding: 8px 12px 8px 0;
    border: none;
    width: 100%;
    outline: none;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.06em;
    &::placeholder {
      color: rgba(#000000, 0.35);
    }
  }
}

.contacts-upload {
  display: block;
  max-width: 442px;
  margin: 0 auto 36px;
}

.upload-box {
  //   border: 2px dashed rgba(#000000, 0.35);
  position: relative;
  padding: 32px 28px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    border: 8px dashed rgba(#000000, 0.35);
    top: -6px;
    bottom: -6px;
    left: -6px;
    right: -6px;
  }
}

.upload-box input {
  overflow: hidden;
  visibility: hidden;
  height: 0;
  width: 0;
}

.contacts-textarea {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  textarea {
    display: block;
    width: 100%;
    border: 1px solid rgba(#000000, 0.35);
    padding: 16px 24px;
    resize: none;
    margin: 0 auto;
    outline: none;
    min-height: 200px;
    &::placeholder {
      color: rgba(#000000, 0.35);
    }
  }
}
.contacts-footer {
  background: rgba(#042924, 0.06);
  padding: 32px 24px;
  display: flex;
  align-items: center;
  max-width: max-content;
  margin: 0 auto;
  justify-content: center;
  gap: 32px;
}
