<div class="p-md-17 p-8 border-bottom border-primary">
  <div class="px-6 text-center">
    <h3 class="h3 text-primary mb-3">Přesvědčili jsme Vás?</h3>
    <a href="#" class="button-gradient">Napište nám</a>
  </div>
</div>
