<footer class="footer">
  <div class="footer__inner">
    <div class="footer__contacts">
      <a href="#" class="footer__logo">
        <img
          src="images/content/logo.png"
          width="206"
          height="78"
          class="object-fit-contain"
          alt="logo"
        />
      </a>
      <ul class="d-flex flex-column gap-4 text-lg text-primary fw-light text-xl-start text-center">
        <li>Euro Enterprise Development s.r.o.</li>
        <li>Říční 456/10, 118 00 Praha 1 – Malá Strana</li>
        <li>IČ: 27773728 | DIČ: CZ27773728</li>
        <li>E-mail: <a href="mailto:info@cybernexus.cz"> info@cybernexus.cz</a></li>
        <li>Datová schránka: cvejsj9</li>
      </ul>
    </div>
    <div class="row footer__menu gap-xl-16 gap-md-10 gap-3">
      <div class="col">
        <a href="#" class="text-md fw-bold text-primary mb-md-6 d-block"> Sekce </a>
        <ul class="text-primary fw-light text-lg d-grid gap-6">
          <li>
            <a href="#">Úvod</a>
          </li>
          <li>
            <a href="#">O nás</a>
          </li>
          <li>
            <a href="#">Case Studies</a>
          </li>
          <li>
            <a href="#">Služby</a>
          </li>
          <li>
            <a href="#">Kontakt</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <a href="#" class="text-md fw-bold text-primary mb-md-6 d-block"> Služby </a>
        <ul class="text-primary fw-light text-lg d-grid gap-6">
          <li>
            <a href="#">Kybernetická bezpečnost</a>
          </li>
          <li>
            <a href="#">eHealth</a>
          </li>
          <li>
            <a href="#">Konzultace </a>
          </li>
        </ul>
      </div>
      <div class="col">
        <a href="#" class="text-md fw-bold text-primary mb-md-6 d-block"> Kontaktujte nás </a>
        <ul class="text-primary fw-light text-lg d-grid gap-6">
          <li>
            <a href="#">Kontaktní údaje</a>
          </li>
          <li>
            <a href="#">Poptávkový formulář</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
