<section class="gradient-primary pb-lg-16 pb-8 pt-md-18 pt-12">
  <div class="container-xxl">
    <div class="mb-md-18 mb-8 d-flex flex-column align-items-center pt-md-7 pt-4">
      <h1 class="h1 title-decore text-white">
        <img src="images/ico/decore.svg" class="title-decore__icon" alt="" />
        Seznam služeb
      </h1>
      <p class="text-center text-lg text-gray">U nás si vyberete</p>
    </div>
    <div class="services-section">
      <div class="row g-xxl-20 g-xl-16 g-lg-10 g-8">
        <div class="col-lg-4 col-md-6">
          <div class="serviceItem">
            <div
              class="d-flex flex-column align-items-center justify-content-center gap-md-3 gap-2 text-center"
            >
              <div class="serviceItem__icon">
                <img
                  class="object-fit-contain"
                  src="images/ico/lock.svg"
                  width="29"
                  height="29"
                  alt=""
                />
              </div>
              <div class="serviceItem__title">Kybernetická bezpečnost</div>
              <p>
                Víte, že kyberbezpečnost nelze podceňovat. Avšak jak se v ní vyznat? Naši odborníci
                vám pomohou najít správný směr a zaměřit se na to, co je skutečně podstatné.
              </p>
            </div>
            <a href="#" class="button-primary text-center mx-auto"> Více info </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="serviceItem">
            <div
              class="d-flex flex-column align-items-center justify-content-center gap-md-3 gap-2 text-center"
            >
              <div class="serviceItem__icon">
                <img
                  class="object-fit-contain"
                  src="images/ico/heart-pulse.svg"
                  width="29"
                  height="29"
                  alt=""
                />
              </div>
              <div class="serviceItem__title">eHealth</div>
              <p>
                Středním podnikům pomáháme hledat bezpečnou cestu k příležitostem digitálních
                technologií. S postupující transformací se totiž zvyšuje i zranitelnost vůči
                kyberhrozbám. To znamená ohrožení dat, financí, klíčových procesů i reputace.
              </p>
            </div>
            <a href="#" class="button-primary text-center mx-auto"> Více info </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="serviceItem">
            <div
              class="d-flex flex-column align-items-center justify-content-center gap-md-3 gap-2 text-center"
            >
              <div class="serviceItem__icon">
                <img
                  class="object-fit-contain"
                  src="images/ico/handshake.svg"
                  width="29"
                  height="29"
                  alt=""
                />
              </div>
              <div class="serviceItem__title">Konzultace</div>
              <p>
                Služby jsou určeny pro malé a střední podniky i veřejné organizace. Nabídka je
                široká a postupně se proměňuje. Reagujeme na trendy i vaši poptávku. Platí, že jsou
                nyní zcela zdarma. Plně je totiž hradí program Digitální Evropa a Národní plán
                obnovy. A mimochodem, administrativní zátěž je minimální, papírování se nebojte.
              </p>
            </div>
            <a href="#" class="button-primary text-center mx-auto"> Více info </a>
          </div>
        </div>
      </div>
      <button class="button-stroke services-load-more text-center mx-auto d-block">
        Načíst další
      </button>
    </div>
  </div>
</section>
<script>
  /**
   * DEFINE AJAX SOURCE FOR MASONRY REFERENCE
   */
  const masonryReferenceSource = '/cyber-nexus/build/ajax-services.json';
</script>
