@font-face {
  font-family: 'Akkurat Pro';
  src: url('../fonts/akkuratpro.woff2') format('woff2'),
    url('../fonts/akkuratpro.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Akkurat Pro';
  src: url('../fonts/akkurat-pro.woff2') format('woff2'),
    url('../fonts/akkurat-pro.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Akkurat Pro';
  src: url('../fonts/akkuratpro-light.woff2') format('woff2'),
    url('../fonts/akkuratpro-light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Honey Salt';
  src: url('../fonts/honey-salt.woff2') format('woff2'),
    url('../fonts/honey-salt.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
