{% extends "@components/base/base.twig" %} {% set title = "02.0_services" %} {% block main %}

<section class="gradient-primary pb-lg-16 pb-8 pt-md-18 pt-12">
  <div class="container-md">
    <div class="mb-md-18 mb-8 d-flex flex-column align-items-center pt-md-7 pt-4">
      <h1 class="h1 title-decore text-white">
        <img src="images/ico/decore.svg" class="title-decore__icon" alt="" />
        Seznam služeb
      </h1>
      <p class="text-center text-lg text-gray">U nás si vyberete</p>
    </div>
  </div>
  <div class="container-xxl">
    {% include "@components/services-section/services-section.twig" %}
  </div>
</section>

{% endblock %}
