{% extends "@components/base/base.twig" %} {% set title = "03.0_service-detail" %} {% block main %}

<section class="gradient-primary">
  <div class="container-lg">{% include "@components/service-detail/service-detail.twig" %}</div>
</section>

{% endblock %}
