{% extends "@components/base/base.twig" %} {% set title = "04.0_project-detail" %} {% block main %}

<section class="gradient-primary">
  <div class="container-lg">{% include "@components/project-detail/project-detail.twig" %}
    
  </div>
</section>

{% endblock %}
