{% extends "@components/base/base.twig" %} {% set title = "06.0_contacts" %} {% block main %}

<div class="gradient-primary pt-md-18 pt-12">
  <div class="container-xxl">
    <div class="mb-md-18 mb-8 d-flex flex-column align-items-center pt-md-7 pt-4">
      <h1 class="h1 title-decore text-white">
        <img src="images/ico/decore.svg" class="title-decore__icon" alt="" />
        Kontakt
      </h1>
      <p class="text-center text-lg text-gray">
        Ke společné spolupráci již stačí pouze vyplnit krátký formulář níže
      </p>
    </div>
    {% include "@components/contacts-section/contacts-section.twig" %}
  </div>
</div>
{% endblock %}
