{% extends "@components/base/base.twig" %} {% set title = "07.0_static" %} {% block main %}

<div class="gradient-primary pt-md-18 pt-12 pb-md-20 pb-12">
  <div class="container-md">
    <div class="mb-md-18 mb-8 d-flex flex-column align-items-center pt-md-7 pt-4">
      <h1 class="h1 title-decore text-white mb-md-2 mb-3">
        <img src="images/ico/decore.svg" class="title-decore__icon" alt="" />
        Static Page
      </h1>
      <p class="text-center text-lg text-gray">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam repellendus, ratione qui quod
        maiores accusamus rerum consequuntur quo? Fuga, numquam!
      </p>
    </div>
  </div>
  <div class="container-lg">
    <div class="bg-white py-lg-20 py-md-16 py-10 px-xl-20 px-md-10 px-8">
      <div class="o-content">
        <h2>Title H2 Lorem ipsum dolor sit.</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quam magnam hic vitae
          voluptatibus aperiam. Eos vitae atque reiciendis fuga enim distinctio porro ipsam tempore
          inventore saepe expedita debitis, illo voluptatibus eius? Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Voluptatem quam magnam hic vitae voluptatibus aperiam. Eos
          vitae atque reiciendis fuga enim distinctio porro ipsam tempore inventore saepe expedita
          debitis, illo voluptatibus eius?
        </p>
        <h3>Title h3 Lorem ipsum dolor sit amet consectetur.</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis eos iste id. Officia
          eveniet perspiciatis illo veniam quis. Quidem unde nemo ullam ipsa doloribus voluptatum
          quis, dignissimos hic ipsam sapiente delectus repellat sit, nisi sint quam nulla nam ab
          odit aspernatur voluptates excepturi. Vel perspiciatis reiciendis fugiat minima itaque
          natus rem dignissimos, tenetur libero ut sint nulla ipsam odit aliquam fugit quia maxime
          saepe? Nisi ut doloremque nostrum vero dolorem.
        </p>
        <h4>Title h4 Lorem ipsum dolor sit amet consectetur.</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis eos iste id. Officia
          eveniet perspiciatis illo veniam quis. Quidem unde nemo ullam ipsa doloribus voluptatum
          quis, dignissimos hic ipsam sapiente delectus repellat sit, nisi sint quam nulla nam ab
          odit aspernatur
        </p>
        <h5>Title h5 Lorem ipsum dolor sit amet consectetur.</h5>
        <ul>
          <li>Na výsadbu tak půjde jeden milion korun</li>
          <li>Na výsadbu tak půjde</li>
          <li>Na výsadbu tak půjde jeden milion korun</li>
          <li>Na výsadbu tak půjde</li>
          <li>Na výsadbu tak půjde jeden milion korun</li>
          <li>Na výsadbu tak půjde</li>
        </ul>

        <h3>Title h3 Lorem ipsum dolor sit amet consectetur.</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis eos iste id. Officia
          eveniet perspiciatis illo veniam quis. Quidem unde nemo ullam ipsa doloribus voluptatum
          quis, dignissimos hic ipsam sapiente delectus repellat sit, nisi sint quam nulla nam ab
          odit aspernatur voluptates excepturi. Vel perspiciatis reiciendis fugiat minima itaque
          natus rem dignissimos, tenetur libero ut sint nulla ipsam odit aliquam fugit quia maxime
          saepe? Nisi ut doloremque nostrum vero dolorem.
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis eos iste id. Officia
          eveniet perspiciatis illo veniam quis. Quidem unde nemo ullam ipsa doloribus voluptatum
          quis, dignissimos hic ipsam sapiente delectus repellat sit, nisi sint quam nulla nam ab
          odit aspernatur
        </p>
        <img
          srcset="https://picsum.photos/1472/1178"
          class="mb-56 mt-56 rounded-3 mx-auto"
          alt=""
        />
        <h3>Title h3 Lorem ipsum dolor sit amet consectetur.</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis eos iste id. Officia
          eveniet perspiciatis illo veniam quis. Quidem unde nemo ullam ipsa doloribus voluptatum
          quis, dignissimos hic ipsam sapiente delectus repellat sit, nisi sint quam nulla nam ab
          odit aspernatur voluptates excepturi. Vel perspiciatis reiciendis fugiat minima itaque
          natus rem dignissimos, tenetur libero ut sint nulla ipsam odit aliquam fugit quia maxime
          saepe? Nisi ut doloremque nostrum vero dolorem.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
