<section class="hero-section">
  <div class="container-big">
    <div class="hero-section__content">
      <h1 class="text-white mb-7">Chráníme hodnoty, posilujeme společnost</h1>
      <p class="text-xl mb-7">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis iaculis aliquam lorem
        consequat molestie. Donec suscipit tincidunt tincidunt. Aenean pretium scelerisque egestas.
      </p>
      <a href="#" class="button-white">Chci vědět více!</a>
    </div>
  </div>
  <div class="hero-section__img">
    <img src="images/content/hero.png" alt="" />
  </div>
</section>
