<div class="project-detail pt-md-30 pt-14 bg-white">
  <div class="projectMain">
    <div class="projectMain__img">
      <img src="images/content/project-1.png" alt="project" />
    </div>
    <div class="projectMain__content">
      <h1 class="h1 mb-4 text-primary">Projekt číslo jedna dlouhy nazev</h1>
      <div class="fz-26 text-primary fw-bold mb-1">Údaje o klientovi:</div>
      <div class="text-primary opacity-75 text-md mb-1">
        Společnost s.r.o <strong>|</strong> Nábřežní 147, Praha, 100 01
      </div>
      <div class="text-primary opacity-75 mb-4 text-md">IČO: 022188118186</div>
      <div class="d-flex gap-4 flex-wrap justify-content-lg-start justify-content-center">
        <div class="projectMain__btn projectMain__btn--green">
          <div class="projectMain__btn-icon">
            <img src="images/ico/calendar-green.svg" alt="calendar" />
          </div>
          <div class="text-center text-white">
            <div class="h5 mb-1">Období realizace</div>
            <div class="text-sm opacity-85">srpnen 2024 - duben 2025</div>
          </div>
        </div>
        <div class="projectMain__btn projectMain__btn--white">
          <div class="projectMain__btn-icon">
            <img src="images/ico/dollar.svg" alt="calendar" />
          </div>
          <div class="text-center text-primary">
            <div class="h5 mb-1">Hodnota projektu</div>
            <div class="text-sm">100 000 Kč</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white project__item px-6">
    <div class="project__item-content">
      <div class="mb-5">
        <div class="project__icon">
          <img src="images/ico/user.svg" alt="icon" />
        </div>
        <h3 class="h2 text-primary">Vyjádření klienta</h3>
      </div>
      <blockquote class="text-md text-primary mb-md-11 mb-5 fw-bold">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor non nisl id
        posuere. Phasellus suscipit elementum neque, sed pulvinar magna pretium nec. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Praesent porttitor non nisl. Phasellus suscipit
        elementum neque, sed pulvinar magna pretium nec.
      </blockquote>
      <img
        width="375"
        height="240"
        class="object-fit-cover mx-auto mb-md-16 mb-8"
        src="images/content/project-2.png"
        alt=""
      />
    </div>
  </div>
  <div class="bg-green-10 pb-md-12 pb-6 pt-md-10 pt-4 project__item px-6">
    <div class="project__item-content">
      <div class="mb-4">
        <div class="project__icon">
          <img src="images/ico/flag.svg" alt="icon" />
        </div>
        <h3 class="h2 text-primary">Cíle projektu</h3>
      </div>
      <p class="text-md text-primary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor non nisl id
        posuere. Phasellus suscipit elementum neque, sed pulvinar magna pretium nec. Praesent
        tincidunt tincidunt eleifend. Morbi efficitur sem nisl, ut egestas est tempor eu. Duis justo
        ex, vehicula non sollicitudin sed, aliquet in quam.
      </p>
    </div>
  </div>

  <div class="bg-white pb-md-12 pb-6 pt-md-10 pt-4 project__item px-6">
    <div class="project__item-content">
      <div class="mb-4">
        <div class="project__icon">
          <img src="images/ico/file.svg" alt="icon" />
        </div>
        <h3 class="h2 text-primary">Popis projektu</h3>
      </div>
      <p class="text-md text-primary mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor non nisl id
        posuere. Phasellus suscipit elementum neque, sed pulvinar magna pretium nec. Praesent
        tincidunt tincidunt eleifend. Morbi efficitur sem nisl, ut egestas est tempor eu. Duis justo
        ex, vehicula non sollicitudin sed, aliquet in quam.
      </p>
      <p class="text-md text-primary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor non nisl id
        posuere. Phasellus suscipit elementum neque, sed pulvinar magna pretium nec.
      </p>
    </div>
  </div>
  <div class="bg-green-10 pb-md-12 pb-6 pt-md-10 pt-4 project__item px-6">
    <div class="project__item-content">
      <div class="mb-4">
        <div class="project__icon">
          <img src="images/ico/microchip.svg" alt="icon" />
        </div>
        <h3 class="h2 text-primary">Použité technologie</h3>
      </div>
      <p class="text-md text-primary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor non nisl id
        posuere. Phasellus suscipit elementum neque, sed pulvinar magna pretium nec.
      </p>
    </div>
  </div>
  {% include "@components/contactUs/contactUs.twig" %}
</div>
